.App {
  text-align: center;
}
.main{
  padding: 100px 0;
}
.card{
  margin-top: 75px;
  padding: 34px 0 24px;
}
.card-title{
  font-size: 24px;
}
.card-title>span{
  font-size: 30px;
}
.card-text{
  font-size: 20px;
}
.alert{
  margin-top: 200px;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

